.navbar-brand {
  height: 100px;
}

.nav >li >a {
  padding-top: 35px;
  /*padding-bottom: 30px; */
  height: 100px;
  vertical-align: middle;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: red !important;
}